.menuItem {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.menuItem .selected {
  background: #175088;
}

.menuItem-value {
  box-sizing: border-box;
  width: calc(100% - 32px);
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menuItem button.btn-remove {
  margin: 0;
  border-radius: 0;
}

button.btn-remove {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
}

.menuItem-value.selected + button.btn-remove {
  background: #175088;
}

.menuItem button.btn-remove:hover {
  color: #ff4545;
}

.menuItem input:focus-visible {
  outline: none;
}

.menuItem .btn-remove {
  opacity: 0;
}

.menuItem:hover .btn-remove {
  opacity: 1;
}

.menuItem-value.selected + button.btn-remove {
  background: #175088;
  opacity: 1;
}
